<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.bank.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <display-name>Bank_web_Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Balance</display-name>
    <servlet-name>Balance</servlet-name>
    <servlet-class>com.bank.servlet.Balance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Balance</servlet-name>
    <url-pattern>/Balance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.bank.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Withdraw</display-name>
    <servlet-name>Withdraw</servlet-name>
    <servlet-class>com.bank.servlet.Withdraw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Withdraw</servlet-name>
    <url-pattern>/Withdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deposit</display-name>
    <servlet-name>Deposit</servlet-name>
    <servlet-class>com.bank.servlet.Deposit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deposit</servlet-name>
    <url-pattern>/Deposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Trasfer</display-name>
    <servlet-name>Trasfer</servlet-name>
    <servlet-class>com.bank.servlet.Trasfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Trasfer</servlet-name>
    <url-pattern>/Trasfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterCustomer</display-name>
    <servlet-name>RegisterCustomer</servlet-name>
    <servlet-class>com.bank.servlet.RegisterCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterCustomer</servlet-name>
    <url-pattern>/RegisterCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Nominee</display-name>
    <servlet-name>Nominee</servlet-name>
    <servlet-class>com.bank.servlet.Nominee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Nominee</servlet-name>
    <url-pattern>/Nominee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Nomine</display-name>
    <servlet-name>Nomine</servlet-name>
    <servlet-class>com.bank.servlet.Nomine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Nomine</servlet-name>
    <url-pattern>/Nomine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveAddress</display-name>
    <servlet-name>SaveAddress</servlet-name>
    <servlet-class>com.bank.servlet.SaveAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveAddress</servlet-name>
    <url-pattern>/SaveAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveCustomer</display-name>
    <servlet-name>SaveCustomer</servlet-name>
    <servlet-class>com.bank.servlet.SaveCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveCustomer</servlet-name>
    <url-pattern>/SaveCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveBank</display-name>
    <servlet-name>SaveBank</servlet-name>
    <servlet-class>com.bank.servlet.SaveBank</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveBank</servlet-name>
    <url-pattern>/SaveBank</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerList</display-name>
    <servlet-name>CustomerList</servlet-name>
    <servlet-class>com.bank.servlet.CustomerList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerList</servlet-name>
    <url-pattern>/CustomerList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.bank.servlet.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankDetails</display-name>
    <servlet-name>BankDetails</servlet-name>
    <servlet-class>com.bank.servlet.BankDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankDetails</servlet-name>
    <url-pattern>/BankDetails</url-pattern>
  </servlet-mapping>
</web-app>